@import "_ru/header__lang-link_ru.css";
@import "_en/header__lang-link_en.css";
.header__lang-link {
	color: #ffffff;
	text-align: right;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
}
