.place__title {
	margin: 0;
	margin-bottom: 48px;
	margin-right: 40px;
	min-width: 460px;
	font-size: 72px;
	line-height: 106%;
	font-weight: 900;
}

@media screen and (min-width: 768px) {
	.place__title {
		min-width: 288px;
		font-size: 32px;
		line-height: 109%;
	}
}
