.places {
   display: flex;
   flex-direction: column;
   margin: 92px 100px;
}

@media screen and (max-width: 1279px) {
   .places {
      margin-right: 0;
      margin-left: 0;
   }
}

@media screen and (max-width: 1023px) {
   .places {
      margin-top: 88px;
      margin-bottom: 88px;
   }
}

@media screen and (max-width: 767px) {
   .places {
      margin-top: 64px;
      margin-bottom: 64px;
   }
}
