.place__image {
	margin: 0;
	margin-right: 40px;
	width: calc((100% - 40px) / 2);
}

@media screen and (max-width: 320px){
   .place__image{
      min-width: 320px;
      height: 320px;
      margin-right: -16px;
      margin-left: -16px;
      margin-bottom: 32px;
   }
}