.cover__subtitle {
	margin: 0;
	min-width: 360px;
	font-size: 18px;
	line-height: 122%;
	font-weight: normal;
	text-align: center;
	z-index: 1;
}

@media screen and (min-width: 768px) {
	.cover__subtitle {
		min-width: 288px;
		font-size: 14px;
		line-height: 114%;
	}
}
