@import "__lang-links/header__lang-links.css";
@import "__lang-link/header__lang-link.css";
@import "__logo/header__logo.css";

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 24px;
}
