@import "__lang-links/header__lang-links.css";
@import "__lang-link/header__lang-link.css";
@import "__logo/header__logo.css";

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 28px;
	margin-bottom: 56px;
}

@media screen and (max-width: 1279px) {
	.header {
		margin-bottom: 48px;
	}
}

@media screen and (max-width: 767px) {
	.header {
		padding-top: 16px;
	}
}
