.lead__title {
	font-size: 96px;
	line-height: 104%;
	text-align: center;
	width: 720px;
	margin: 0;
	margin-bottom: 32px;
	font-weight: 900;
}

@media screen and (max-width: 767px) {
	.lead__title {
		margin-bottom: 16px;
		width: 288px;
		font-size: 40px;
		line-height: 110%;
	}
}
