.place__paragraph {
	margin: 0;
	margin-bottom: 24px;
	width: minmax(min-content, max-content);
	font-size: 18px;
	line-height: 163%;
	font-weight: normal;
}

@media screen and (min-width: 768px) {
	.place__paragraph {
		font-size: 16px;
	}
}
