.footer__copyright {
   margin: 0;
   font-size: 14px;
   line-height: 114%;

   text-align: right;

   color: #ffffff;
}

@media screen and (min-width: 768px) {
   .footer__copyright {
      line-height: 100%;
      text-align: left;
   }
}
