.lead__image {
   width: 100%;
   min-height: 615px;
}

@media screen and (max-width: 1279px) {
   .lead__image {
      min-height: 580px;
   }
}

@media screen and (max-width: 1023px) {
   .lead__image {
      position: relative;
      align-self: center;
      min-height: 480px;
      width: calc(100% + 48px);
   }
}

@media screen and (max-width: 767px) {
   .lead__image {
      width: calc(100% + 32px);
      min-height: 200px;
   }
}
