@font-face {
	font-family: "Inter";
	src: url(../../fonts/Inter-Regular.otf);
	font-weight: normal;
}

@font-face {
	font-family: "Inter";
	src: url(../../fonts/Inter-Black.otf);
	font-weight: 900;
}

@font-face {
	font-family: "Inter";
	src: url(../../fonts/Inter-Bold.otf);
	font-weight: bold;
}

.root {
	background-color: #2a2c2f;
	font-family: "Inter", ‘Arial’, sans-serif;
	padding-right: 48px;
	padding-left: 48px;
	margin: 0;
	color: #ffffff;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1023px) {
	.root {
		padding-right: 24px;
		padding-left: 24px;
	}
}

@media screen and (max-width: 767px) {
	.root {
		padding-right: 16px;
		padding-left: 16px;
	}
}
