.lead__caption {
	margin-top: 8px;
	font-size: 10px;
	line-height: 140%;
	text-transform: uppercase;
	margin: 0;
	align-self: start;
}

@media screen and (max-width: 768px){
   .lead__caption{
      margin-left: 24px;
   }
}