.cover__title {
	margin: 0;
	margin-bottom: 32px;
	min-width: 560px;
	font-size: 72px;
	line-height: 106%;
	text-align: center;
	z-index: 1;
}

@media screen and (max-width: 320px){
   .cover__title{ 
      min-width: 288px;
      font-size: 32px;
      line-height: 109%;
   }
}