@import "__links/footer__links.css";
@import "__link/footer__link.css";
@import "__copyright/footer__copyright.css";

.footer{
   display: flex;
   justify-content: space-between;
   margin-top: 92px;
}

@media screen and (max-width: 320px){
   .footer{
      flex-direction: column;
   }
}