@import "__links/footer__links.css";
@import "__link/footer__link.css";
@import "__li/footer__li.css";
@import "__copyright/footer__copyright.css";

.footer {
   display: flex;
   justify-content: space-between;
   margin-top: 92px;
   padding-bottom: 24px;
}

@media screen and (max-width: 320px) {
   .footer {
      margin-top: 64px;
      flex-direction: column;
   }
}
